<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Back-End</h3>
            <p>Trabajo para el desarrollo de sistemas y aplicaciones para la Secretaría de Educación de Gobierno del Estado de San Luis Potosí.</p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                PHP/Laravel, MySQL, SQLite
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>PHP</li>
                <li>Laravel</li>
                <li>Blade</li>
                <li>Eloquent</li>
                <li>MVC</li>
            </ul>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                C#, ASP.NET, SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>C#</li>
                <li>ASP.NET</li>
                <li>Entity Framework</li>
                <li>Razor</li>
                <li>MVC</li>
            </ul>
        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>Crear front-ends robustos los cuales cumplen con los requrimientos del negocio.</p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                JavaScript, JQuery, ReactJS
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>React Hooks</li>
                <li>ES6</li>
                <li>JQuery</li>
                <li>JQueryUI</li>
                <li>Pruebas automáticas</li>
                <li>Markdownn</li>
            </ul>
        </div>
    </div>
</div>