<div class="text-center">
    <h1 class="display-4">Soy Iván Domínguez</h1>
    <h2>Soy un desarrolador full stack especializado en tecnologías de PHP y JavaScript.</h2>

    <img id="foto" src="~/images/mi-foto.jpg" alt="Foto de Iván" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/images/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            He estado desarrollando aplicaciones web desde 2009 en PHP y MySQL y últimamente con el framework Laravel. Pude participar en el desarrollo de la Plataforma Estatal de Información Educativa (PEIE) en el Centro Potosino de Tecnología Educativa. Posterioremente me incorporé como Enlace Técnico Estatal de la Coordinación General del Servicio Profesional Docente (CGSPD), que Posteriormente cambiaría su nombre a Coordinación estatal de la Unidad del Sistema para la Cerrara de las Maestras y los Maestros (CGSICAMM). Actualmente, me encuentro laborando en la Coordinación General de Informática Administrativa (CGIA), donde estoy aprendiendo a desarrollar aplicaciones con C# y .NET.
        </p>
    </div>
</div>