@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Iván Domínguez</h1>
    <h2>Soy un desarrolador full stack especializado en tecnologías de PHP y JavaScript.</h2>

    <img id="foto" src="~/images/mi-foto.jpg" alt="Foto de Iván" />
</div>
